---
import Layout from '../layouts/Layout.astro';
---


<Layout>

<section id="about" class="w-full px-2 lg:px-8 pt-20 lg:pt-10 bg-gray-900">
  <div  class="w-full text-sm lg:text-lg lg:w-[1024px] mx-auto pt-16 pb-12">
    <h1 class="text-lg  lg:text-2xl mb-4 font-bold ">Aspectos Legales</h1>
    <p><span class="font-bold">Bienvenido a RadioCristianaRadio.com.</span>
 Una emisora cristiana en español con sede en Annapolis, Maryland, Estados Unidos. Este sitio web tiene como propósito ofrecer contenido espiritual, musical y educativo a través de transmisiones en vivo, podcasts, predicaciones y recursos de contacto.

Al navegar por este sitio, aceptas los siguientes términos y condiciones:</p>
    <ul class="list-decimal pl-5 space-y-3  py-4">
      <li>Propósito del sitio
    Este sitio web está diseñado para compartir contenido cristiano en español, incluyendo música, enseñanzas, reflexiones, podcasts y transmisiones en vivo. Todo el contenido tiene fines informativos, espirituales y de edificación personal.</li>
          <li>Derechos de autor y propiedad intelectual
    Todo el contenido publicado en este sitio, incluyendo textos, audios, imágenes, logotipos y transmisiones, está protegido por derechos de autor. La reproducción, distribución o modificación sin autorización previa está prohibida.

    La música transmitida en vivo está sujeta a licencias de uso correspondientes. Si crees que algún contenido infringe derechos, puedes contactarnos a través del formulario de contacto.</li>

    <li>Protección de datos personales
    Al enviar información a través de nuestro formulario de contacto, recopilamos datos como nombre, correo electrónico y mensaje. Estos datos se utilizan exclusivamente para responder consultas, enviar información sobre nuestros programas y mantener comunicación con nuestros oyentes.

    No compartimos tus datos con terceros, y puedes solicitar la eliminación de tu información en cualquier momento escribiéndonos directamente.</li>

    <li>Uso de cookies
    Este sitio puede utilizar cookies técnicas y analíticas para mejorar la experiencia del usuario. Al continuar navegando, aceptas el uso de estas cookies. Puedes configurar tu navegador para bloquearlas o eliminarlas si lo deseas.</li>

    <li>Responsabilidad del contenido
    RadioCristianaRadio.com no se hace responsable por interrupciones temporales del servicio, errores técnicos o enlaces externos que no estén bajo nuestro control. Nos esforzamos por mantener una experiencia segura y edificante para todos nuestros visitantes.</li>

        <li>Contacto
    Para cualquier consulta legal, solicitud de eliminación de datos o reporte de contenido, puedes escribirnos a través del formulario de contacto o por nuestras redes sociales oficiales.</li>
    </ul>



  </div>
</section>
</Layout>

<style>
     li::marker {
    font-weight: bold;
  }

</style>