---
import { Icon } from 'astro-icon/components';

---
<section id="about" class="w-full  bg-gray-900">
  <div  class="w-[1024px] mx-auto py-14">
      <p class="text-center text-lg pb-1">Esc칰chanos en vivo desde nuestra web, redes sociales y app m칩vil<!-- - <span  class="text-gray-900 font-bold   px-2 py-0.5"> 102.1</span> --></p>
      <div class="flex flex-row justify-center items-center text-yellow-300 ">
        <div class="h-0.5 w-36 flex bg-yellow-300"></div>
        <Icon name="microphone" class="w-8 h-8 mx-2" />
        <div class="h-0.5 w-36 flex bg-yellow-300"></div>
      </div>
      <h2 class="text-center text-4xl font-bold mb-4 pt-1">ACERCA DE NUESTRA ESTACION DE RADIO</h2>
      <p class="text-center text-lg mb-1 w-[80%] mx-auto">Somos una radio cristiana en espa침ol, nacida en el coraz칩n de Maryland y con m치s de 4 a침os en l칤nea dedicados a transmitir vida, verdad y prop칩sito. </p>
      <p  class="text-center text-lg mt-1 w-[80%] mx-auto">Buscamos ser m치s que una se침al: queremos ser una comunida que cree en el poder del Evangelio, en conectar culturas , corazones y en ofrecer contenido que refleje amor, convicci칩n y esperanza.</p>

    <article class="swiper flex justify-center align-middle mx-auto mt-10 pt-8 center">
      <div class="card-wrapper">
        <div class="card-list swiper-wrapper">
          <div class="card-item swiper-slide">
            <img class="card-image" src="ws6.jpeg" alt="Imagen 1">
          </div>
          <div class="card-item  swiper-slide">
            <img class="card-image" src="ws5.jpeg" alt="Imagen 1">
          </div>
          <div class="card-item  swiper-slide">
            <img class="card-image" src="ws3.jpeg" alt="Imagen 1">
          </div>
          <div class="card-item  swiper-slide">
            <img class="card-image" src="ws4.jpeg" alt="Imagen 1">
          </div>
          <div class="card-item  swiper-slide">
            <img class="card-image" src="ws2.jpeg" alt="Imagen 1">
          </div>
                <div class="card-item  swiper-slide">
            <img class="card-image" src="ws7.jpeg" alt="Imagen 1">
          </div>
                <div class="card-item  swiper-slide">
            <img class="card-image" src="ws1.jpeg" alt="Imagen 1">
          </div>

        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </article>
  </div>
</section>

<style>

.slider {
  position: relative;
  width: 100%;
  margin: auto;
  perspective: 1000px;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  border-radius: 1em;
  padding-block: 1em;
  padding-inline: 0.5em;
  aspect-ratio: 1/1;   
  margin: 0 auto;
}

.card-item {
  width: 80%
}

.card-wrapper {
  overflow: visible !important; /* 游녣 Permite que el slide se expanda */
}
.swiper-wrapper {
  overflow: visible !important;
}


.swiper-pagination {
  font-weight: bold;
}

.swiper-button-prev{
  color: #fff;
  font-weight: bold;
  margin-left: 50px;
}

.swiper-button-next{
  color: #fff;
  font-weight: bold;
  margin-right: 50px;
}

.swiper-slide-active {
 /* 游녣 Aumenta tama침o */
  z-index:1000!important;                 /* 游녣 Lo pone encima */
}

.card-wrapper .swiper-slide-active img {
  transform: scale(1.6);
  opacity: 1;
  z-index: 100!important;
}

.swiper-slide {
  transform: scale(0.96);
  z-index: -10;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.swiper-slide::after {
  transform: scale(0.96);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.card-wrapper .swiper-slide-active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}


</style>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

const swiper =  new Swiper('.card-wrapper', {
    slidesPerView: 1,
    centeredSlides: true,   
    initialSlide: 0,
    loop: true,
    spaceBetween: 0,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 3,
      }
    }
  });
</script>