---
import { Icon } from 'astro-icon/components';
---

<section id="about" class="w-[1024px] mx-auto py-12">

    <p class="text-center text-lg pb-1">Escúchanos en vivo desde nuestra web, redes sociales y app móvil<!-- - <span  class="text-gray-900 font-bold   px-2 py-0.5"> 102.1</span> --></p>
    <div class="flex flex-row justify-center items-center text-yellow-300 ">
      <div class="h-0.5 w-36 flex bg-yellow-300"></div>
      <Icon name="microphone" class="w-8 h-8 mx-2" />
      <div class="h-0.5 w-36 flex bg-yellow-300"></div>
    </div>
    <h2 class="text-center text-4xl font-bold mb-4 pt-1">ACERCA DE NUESTRA ESTACION DE RADIO</h2>
    <p class="text-center text-lg">Somos una radio cristiana en español, nacida en el corazón de Maryland y dedicada a transmitir vida, verdad y propósito. Con programación inspiradora, podcasts edificantes, música, transmisiones en redes sociales y en nuestra app. </p>
    <p  class="text-center text-lg mt-1">Buscamos ser más que una señal: queremos ser una comunida que cree en el poder del Evangelio, en conectar culturas , corazones y en ofrecer contenido que refleje amor, convicción y esperanza.</p>

  <article class="pt-8">
    <div class="grid grid-cols-2 gap-4">
      <img src="/ws5.jpeg" alt="Radio photo 1" class="rounded shadow" />
      <img src="/ws6.jpeg" alt="Radio photo 2" class="rounded shadow" />
      <img src="/ws1.jpeg" alt="Radio photo 3" class="rounded shadow" />
      <img src="/ws2.jpeg" alt="Radio photo 4" class="rounded shadow" />
    </div>
  </article>
</section>