---
import { Icon } from 'astro-icon/components';

---

<section class="w-full  pt-8 pb-30 bg-[#1b1b1b]">
  <div class="grid grid-cols-3 gap-3  mx-auto w-[1024px]">
    <div class="text-center mx-auto ">
      <img src="./logo-radio-cristiana.png" alt="asd" class="w-40 h-40 mx-auto">
    </div>
    <div class="text-center">
      <h2 class="text-2xl mb-1 ">MAS INFORMACION</h2>
       <div class="flex flex-col items-center jus ">
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center"><Icon name="map" /><span>Annapolis, MD, United States, Maryland </span></p>
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center">  <Icon name="phone" />  +1 123 12345678</p>
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center cursor-pointer">  <Icon name="mail" />  info@example.com</p>
      </div>
    </div>
    <div class="text-center">
      <h2 class="text-2xl mb-1">ENLACES</h2>
      <ul  class="pt-2">
        <li class="pb-2"><a href="./#home" >Home</a></li>
        <li class="pb-2"><a href="./#about" >About</a></li>
        <li class="pb-2"><a href="./#shows" >Shows</a></li>
        <li class="pb-2"><a href="./#contact" >Contact</a></li>
      </ul>
    </div>
  </div>
</section>