---
import { Icon } from 'astro-icon/components';
import logotexto  from '../assets/logotexto.svg'
---

<section class="gg w-full bg-gradient-to-tr from-black to-[#101828] pt-8 pb-30 ">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-3  mx-auto w-full lg:w-[1024px]">
    <div class="text-center mx-auto ">
      <img src={logotexto.src} alt="asd" class="w-40 h-40 mx-auto">
    </div>
    <div class="text-center">
      <h2 class="text-2xl mb-1 ">MAS INFORMACION</h2>
       <div class="flex flex-col items-center jus ">
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center"><Icon name="map" /><span> Annapolis Md USA 21403.</span></p>
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center">  <Icon name="phone" />+1-667-4239691</p>
        <p class="pt-3 flex flex-row gap-x-2 items-center justify-center">  <Icon name="mail" />radiocristianaradio@gmail.com</p>
      </div>
    </div>
    <div class="text-center">
      <h2 class="text-2xl mb-1">ENLACES</h2>
      <ul  class="pt-2">
        <li class="pb-2"><a href="./#home" >Inicio</a></li>
        <li class="pb-2"><a href="./#about" >Acerca</a></li>
        <li class="pb-2"><a href="./#shows" >Programacion</a></li>
        <li class="pb-2"><a href="./#contact" >Contacto</a></li>
      </ul>
    </div>
  </div>
</section>

<style>
  .gg{
  }
</style>