---
/* import astro  from '../assets/astro.svg';


{astro.src } */

---

 <header class="z-20  h-20 white w-full absolute">
		<nav class="flex items-center justify-between h-20 max-w-[1024px] w-full mx-auto ">
			<div class="flex items-center  ">
				<img src="/logo-radio-cristiana-recorte.png" class="w-14 h-14 rounded-full  " alt="astro logo">
				<span class="ml-2 text-xl font-bold">Radio Cristiana Radio</span>
			</div>
			<ul class="flex space-x-4">
				<li><a href="/" class="hover:underline">Home</a></li>
				<li><a href="/#about" class="hover:underline">About</a></li>
				<li><a href="/#shows" class="hover:underline">Shows</a></li>
				<li><a href="/#contact" class="hover:underline">Contact</a></li>
			</ul>
		</nav>
 </header>



<style>
	header {
			width: 100%;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20px;
  }
</style>
