---

---

<section
  class="flex flex-col items-center justify-center text-white min-h-[100vh]  w-full  bg-[linear-gradient(to_right,_#111827_30%,_#133051_70%)]  h-full -z-20 "
>
  <div class="flex flex-col items-end justify-center w-[1024px] h-full absolute z-10">
   <img src="./adolecente_recortada.png" alt="Imagen de fondo" class="w-full max-w-min  h-full object-cover" />
  </div>
   
  <div class="flex flex-row  w-[1024px] z-20 ">
      <div class="flex flex-col  w-4/6 pl-8 z-20">
        <h1 class="text-5xl font-bold mb-2 self-start ">Una emisora con propósito. Donde predicamos a Cristo, compartimos vida y encendemos la Fe.</h1>
        <p class="text-lg self-start  ">“Si oyeres hoy su voz, no endurezcáis vuestros corazones.” - Hebreos 3:15.</p>
      </div>
  </div>


</div>

</section>



