---
import { Icon } from 'astro-icon/components';
---
<section class="w-full  pt-10 pb-10 bg-gray-900">
  <div class="flex flex-row  justify-center gap-1 align-middle items-center  mx-auto w-[1024px]">

    <div class="text-left w-1/2 ml-10">
      <h2 class="text-4xl mb-2 font-bold">Descarga nuestra App</h2>
      <p class="text-ls">Disponible para dispositivos Adroid y iOs</p>
      <div class="flex flex-row mt-4 gap-4">
          <button class="flex flex-row mt-6 px-8 py-2 bg-white text-gray-900 rounded-md hover:bg-gray-100 font-bold cursor-pointer"> <span><Icon name="apple" class="w-6 h-6"/></span> App Store</button>
      <button class="flex flex-row mt-6 px-8 py-2 bg-green-600 text-white rounded-md hover:bg-green-500 font-bold cursor-pointer"> <span><Icon name="android" class="w-6 h-6"/></span>  Google Play</button>
      </div>  
    </div>
    
    <div class="flex flex-row justify-center align-middle  items-center w-1/2 pt-20 pb-20  ">
      <div class="w-full mx-auto flex flex-row bg-white pt-10 pb-10  rounded-tl-[120px] rounded-b-3xl  rounded-t-3xl shadow justify-center">
      <img src="./movilweb.png" alt="asd" class="w-65  rounded-xl shadow" />
     </div>
    </div> 


  </div>
</section>