---
/* import play from './icons/player-play.svg';
 */
/* import { Icon } from 'astro-icon/components'; */
import Player from './Player.astro';
const { label } = Astro.props;



---


<div
	id="radio"
	class="flex items-center justify-between h-22 px-6 w-[1024px] rounded-xl shadow-lg"
>
  <h2 class="text-yellow-300 text-lg font-semibold">{label}</h2>


<Player  />


</div>

<style>


/* 	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	} */


</style>

