---
/* import play from './icons/player-play.svg';
 */
/* import { Icon } from 'astro-icon/components'; */
import Player from './Player.astro';
import { Icon } from 'astro-icon/components';
const { label } = Astro.props;



---


<div
	id="radio"
	class="flex flex-row lg:flex-row items-center justify-between h-23 lg:h-22 px-6 w-full lg:w-[1024px] rounded-xl shadow-lg  lg:p-0 "
>
	<Player label={label} />
</div>

<style>


/* 	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	} */


</style>

