---
import { Icon } from 'astro-icon/components';
---

<section id="shows" class="w-full bg-[linear-gradient(to_left,_#111827_10%,_#133051_90%)]  ">
  <div class="grid lg:grid-cols-2  mx-auto pt-16 pb-14 justify-center align-middle w-full lg:w-[1024px]">
    <video class="rounded cursor-pointer m-auto lg:order-1 order-2" width="360" height="488" controls autoplay muted poster="imagenVideoRadio.jpg">
      <source src="video-ws.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <article class="flex flex-col justify-center lg:order-2 order-1 text-white ">
      <p class="text-amber-300 text-lg">Horario Semanal</p>
      <h2 class="text-start text-2xl lg:text-4xl font-bold mt-1 mb-1">PROGRAMACIÓN EN VIVO</h2>
      <div class="flex items-center text-start flex-row ">
          <hr class="w-22 text-start  text-amber-300"></hr>
          <Icon name="microphone" class="w-6 h-6 mx-2 text-amber-300" />
          <hr class="w-22 text-start text-amber-300"></hr>
      </div>
  
      <ol class="pt-6 text-sm  lg:text-lg list-decimal list-inside">
        <li><span class="font-bold">“Una Mañana Diferente”</span>. Lunes a Viernes- 10:00 a 11:00am</li>
        <li><span class="font-bold">“Un encuentro con Jesús”</span>. Todos los Marte - 8:00 pm </li>
        <li><span class="font-bold">“Mujer el Vaso Más Frágil”</span>. Todos los Miércoles - 8:00 pm</li>
        <li><span class="font-bold">“Kids Edén”</span>. Todos los Viernes - 6:00 pm</li>
        <li><span class="font-bold">“Educación con Propósito”</span>. Todos los viernes - 7:00 pm </li>
        <li><span class="font-bold">“Unción Juvenil”</span>. Todos los sábados - 7:00 pm </li>
        <li><span class="font-bold">“Defendiendo el Evangelio”</span>. Lunes y Jueves a las 7:30 pm y Domingos a las 1:30 pm</li>
      </ol>
    </article>
  </div>
</section>

<style>

</style>  