---
import { Icon } from 'astro-icon/components';
---

<section id="shows" class="w-full bg-[linear-gradient(to_left,_#111827_10%,_#133051_90%)] ">
  <div class="grid lg:grid-cols-2 mx-auto pt-16 pb-14 justify-center align-middle w-full lg:w-[1024px]">
    <video class="rounded cursor-pointer m-auto" width="360" height="488" controls autoplay muted poster="imagenVideoRadio.jpg">
      <source src="video-ws.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.
    </video>
    <article class="flex flex-col justify-center text-white ">
      <p class="text-amber-300 text-lg">Horario Semanal</p>
      <h2 class="text-start text-4xl font-bold mt-1 mb-1">PROGRAMACION EN VIVO</h2>
      <div class="flex items-center text-start flex-row ">
          <hr class="w-22 text-start  text-amber-300"></hr>
          <Icon name="microphone" class="w-6 h-6 mx-2 text-amber-300" />
          <hr class="w-22 text-start text-amber-300"></hr>
      </div>
  
      <ol class="pt-6 text-lg list-decimal list-inside">
        <li>“Una Mañana Diferente”. Lunes a Viernes- 10:00 a 11:00am</li>
        <li>“Un encuentro con Jesús”. Todos los Marte - 8:00 pm </li>
        <li>“Mujer el Vaso Más Frágil”. Todos los Miércoles - 8:00 pm</li>
        <li>“Edén”. Reconcilicion Kids todos los Viernes - 6:00 pm</li>
        <li>“Educación con Propósito”. Todos los viernes - 7:00 pm </li>
        <li>“Unción Juvenil”. Todos los sábados - 7:00 pm </li>
        <li>“Defendiendo el Evangelio”. Lunes y Jueves a 7:30 pm y Domingos 1:30 pm</li>
      </ol>
    </article>
  </div>
</section>

<style>

</style>  