---

---

<section
  class="flex flex-col items-center justify-center text-white min-h-[400px] w-full  bg-[linear-gradient(to_right,_#111827_30%,_#133051_70%)]  h-full -z-20 "
>
  <div class="flex flex-col items-end justify-center w-[1024px] h-full absolute z-10">
   <img src="./adolecente_recortada.png" alt="Imagen de fondo" class="w-full max-w-min  h-full object-cover" />
  </div>
   
  <div class="flex flex-row  w-[1024px] z-20 ">
      <div class="flex flex-col  w-1/2 pl-8 z-20">
        <h1 class="text-5xl font-bold mb-2 self-start ">Tu espacio en español para crecer en fe, escuchar y compartir el amor de Cristo</h1>
        <p class="text-lg self-start  ">Desde Annapolis al mundo: Transmitiendo enseñanzas, música cristiana y podcast edificantes.</p>
      </div>
  </div>


</div>

</section>



