---
import "../styles/global.css";
import Header from '../components/Header.astro';
import Radio from '../components/Radio.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoSVG.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<!-- Open Graph (Facebook, WhatsApp, etc.) -->
<meta property="og:title" content="Radio Cristiana Radio" />
<meta property="og:description" content="Inspiración, música cristiana y palabra viva desde Venezuela para el mundo." />
<meta property="og:image" content="https://radiocristianaradio.com/screenshot.png" />
<meta property="og:url" content="https://radiocristianaradio.com" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_VE" />

<!-- Twitter Card -->
<!-- <meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Radio Cristiana Radio" />
<meta name="twitter:description" content="Inspiración, música cristiana y palabra viva desde Venezuela para el mundo." />
<meta name="twitter:image" content="https://radiocristianaradio.com/screenshot.png" />
<meta name="twitter:site" content="@TuUsuarioTwitter" /> -->

<meta name="description" content="Radio Cristiana Radio transmite música cristiana, enseñanzas bíblicas y contenido espiritual para edificar tu vida." />
<meta name="keywords" content="radio cristiana, música cristiana, palabra de Dios, enseñanza bíblica, Venezuela, inspiración espiritual" />
<meta name="UI Engineer - Edwin Mendez " content="" />


		<title>Radio Cristiana Radio</title>
	</head>
	<body>
		<header class="z-20  h-20 w-full absolute">
   	 <Header/>
		</header>
		<main>
			<slot />
		</main>

		<footer class="gg w-full bg-gradient-to-tr from-black to-[#101828] pt-8 pb-30 ">
    	<Footer />
		</footer>
		<aside>
	    <Radio label="Señal en Vivo"/>
		</aside>
	</body>
	</html>

<style>
	html,
	body {
		 scroll-behavior: smooth;
		margin: 0;
		width: 100%;
		color: #FFF;
	}

	body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
		  font-family: system-ui, sans-serif;
}
		header {
			width: 100%;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 20px;
  }
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
			  flex: 1 0 auto;
        width: 100%;
    }
	
    aside {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }ñol
		footer {
				width: 100%;
				
		}
</style>
